.carrito {
  width: 75px;
}

.cantProd {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000000;
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
}
